input[type=search] { 
	text-align: right;
	cursor: pointer;
	width: 20%; 
	letter-spacing: 4px;        
    text-shadow: 0 0 1px black;  
    border-radius: 5px;
	font-size: 13px;
}

@media screen and (max-width:800px){
	input[type=search]{
		width: 40%;
		font-size: 10px;
	}
}


@media screen and (max-width:600px){
	input[type=search]{
		width: 40%;
		font-size: 8px;
	}
}